In [19]:
from pyspark.sql import SparkSession

In [20]:
spark=SparkSession.builder.appName("Practice").getOrCreate()

In [21]:
df_pyspark=spark.read.csv(r"C:\Users\pmboc\Downloads\student.csv",header=True,inferSchema=True)

In [22]:
df_pyspark.show()

+---+-----------+-----+----+------+
| id|       name|class|mark|gender|
+---+-----------+-----+----+------+
|  1|   John Deo| Four|  75|female|
|  2|   Max Ruin|Three|  85|  male|
|  3|     Arnold|Three|  55|  male|
|  4| Krish Star| Four|  60|female|
|  5|  John Mike| Four|  60|female|
|  6|  Alex John| Four|  55|  male|
|  7|My John Rob|Fifth|  78|  male|
|  8|     Asruid| Five|  85|  male|
|  9|    Tes Qry|  Six|  78|  male|
| 10|   Big John| Four|  55|female|
| 11|     Ronald|  Six|  89|female|
| 12|      Recky|  Six|  94|female|
| 13|        Kty|Seven|  88|female|
| 14|       Bigy|Seven|  88|female|
| 15|   Tade Row| Four|  88|  male|
| 16|      Gimmy| Four|  88|  male|
| 17|      Tumyu|  Six|  54|  male|
| 18|      Honny| Five|  75|  male|
| 19|      Tinny| Nine|  18|  male|
| 20|     Jackly| Nine|  65|female|
+---+-----------+-----+----+------+
only showing top 20 rows

In [23]:
df_pyspark.groupBy("gender").sum("mark").show()

+------+---------+
|gender|sum(mark)|
+------+---------+
|female|     1406|
|  male|     1207|
+------+---------+

In [24]:
df_pyspark.groupBy("class").sum("mark").show()

+-----+---------+
|class|sum(mark)|
+-----+---------+
| Five|      160|
|  Six|      578|
|Eight|       79|
| Four|      638|
|Seven|      776|
| Nine|       83|
|Three|      221|
|Fifth|       78|
+-----+---------+

In [25]:
df_pyspark.groupBy("class").min("mark").show()

+-----+---------+
|class|min(mark)|
+-----+---------+
| Five|       75|
|  Six|       54|
|Eight|       79|
| Four|       55|
|Seven|       55|
| Nine|       18|
|Three|       55|
|Fifth|       78|
+-----+---------+

In [26]:
df_pyspark.groupBy("class").max("mark").show()

+-----+---------+
|class|max(mark)|
+-----+---------+
| Five|       85|
|  Six|       96|
|Eight|       79|
| Four|       88|
|Seven|       90|
| Nine|       65|
|Three|       85|
|Fifth|       78|
+-----+---------+

In [27]:
df_pyspark.groupBy("class").avg("mark").show()

+-----+-----------------+
|class|        avg(mark)|
+-----+-----------------+
| Five|             80.0|
|  Six|82.57142857142857|
|Eight|             79.0|
| Four|70.88888888888889|
|Seven|             77.6|
| Nine|             41.5|
|Three|73.66666666666667|
|Fifth|             78.0|
+-----+-----------------+

In [28]:
df_pyspark.groupBy("class").mean("mark").show()

+-----+-----------------+
|class|        avg(mark)|
+-----+-----------------+
| Five|             80.0|
|  Six|82.57142857142857|
|Eight|             79.0|
| Four|70.88888888888889|
|Seven|             77.6|
| Nine|             41.5|
|Three|73.66666666666667|
|Fifth|             78.0|
+-----+-----------------+

In [29]:
df_pyspark.groupBy("class").count().show()

+-----+-----+
|class|count|
+-----+-----+
| Five|    2|
|  Six|    7|
|Eight|    1|
| Four|    9|
|Seven|   10|
| Nine|    2|
|Three|    3|
|Fifth|    1|
+-----+-----+

In [30]:
df_pyspark.groupBy("class").pivot("name").sum("mark").show()

+-----+---------+------+------+----------+--------+--------+----+---------+------+--------+--------+-----+-----+-----+------+--------+---------+---------+----------+----+-----------+--------+-----------+-----+------+---------+---------+------+----------+--------+-------+-----------+---------+-----+-----+
|class|Alex John|Arnold|Asruid|Babby John|Big John|Big Nose|Bigy|Binn Rott|Crelea|Gain Toe|Giff Tow|Gimmy|Herod|Honny|Jackly|John Deo|John Mike|Kenn Rein|Krish Star| Kty|Marry Toeey|Max Ruin|My John Rob|Recky|Reggid|Reppy Red|Rojj Base|Ronald|Rows Noump|Tade Row|Tes Qry|Tess Played|Tiddy Now|Tinny|Tumyu|
+-----+---------+------+------+----------+--------+--------+----+---------+------+--------+--------+-----+-----+-----+------+--------+---------+---------+----------+----+-----------+--------+-----------+-----+------+---------+---------+------+----------+--------+-------+-----------+---------+-----+-----+
| Five|     NULL|  NULL|    85|      NULL|    NULL|    NULL|NULL|     NULL|  NULL|    NULL|    NULL| NULL| NULL|   75|  NULL|    NULL|     NULL|     NULL|      NULL|NULL|       NULL|    NULL|       NULL| NULL|  NULL|     NULL|     NULL|  NULL|      NULL|    NULL|   NULL|       NULL|     NULL| NULL| NULL|
|  Six|     NULL|  NULL|  NULL|      NULL|    NULL|    NULL|NULL|     NULL|  NULL|    NULL|    NULL| NULL| NULL| NULL|  NULL|    NULL|     NULL|       96|      NULL|NULL|       NULL|    NULL|       NULL|   94|  NULL|       79|     NULL|    89|        88|    NULL|     78|       NULL|     NULL| NULL|   54|
|Eight|     NULL|  NULL|  NULL|      NULL|    NULL|    NULL|NULL|     NULL|  NULL|    NULL|    NULL| NULL|   79| NULL|  NULL|    NULL|     NULL|     NULL|      NULL|NULL|       NULL|    NULL|       NULL| NULL|  NULL|     NULL|     NULL|  NULL|      NULL|    NULL|   NULL|       NULL|     NULL| NULL| NULL|
| Four|       55|  NULL|  NULL|        69|      55|    NULL|NULL|     NULL|  NULL|    NULL|    NULL|   88| NULL| NULL|  NULL|      75|       60|     NULL|        60|NULL|         88|    NULL|       NULL| NULL|  NULL|     NULL|     NULL|  NULL|      NULL|      88|   NULL|       NULL|     NULL| NULL| NULL|
|Seven|     NULL|  NULL|  NULL|      NULL|    NULL|    NULL|  88|       90|    79|      69|      88| NULL| NULL| NULL|  NULL|    NULL|     NULL|     NULL|      NULL|  88|       NULL|    NULL|       NULL| NULL|    55|     NULL|       86|  NULL|      NULL|    NULL|   NULL|         55|       78| NULL| NULL|
| Nine|     NULL|  NULL|  NULL|      NULL|    NULL|    NULL|NULL|     NULL|  NULL|    NULL|    NULL| NULL| NULL| NULL|    65|    NULL|     NULL|     NULL|      NULL|NULL|       NULL|    NULL|       NULL| NULL|  NULL|     NULL|     NULL|  NULL|      NULL|    NULL|   NULL|       NULL|     NULL|   18| NULL|
|Three|     NULL|    55|  NULL|      NULL|    NULL|      81|NULL|     NULL|  NULL|    NULL|    NULL| NULL| NULL| NULL|  NULL|    NULL|     NULL|     NULL|      NULL|NULL|       NULL|      85|       NULL| NULL|  NULL|     NULL|     NULL|  NULL|      NULL|    NULL|   NULL|       NULL|     NULL| NULL| NULL|
|Fifth|     NULL|  NULL|  NULL|      NULL|    NULL|    NULL|NULL|     NULL|  NULL|    NULL|    NULL| NULL| NULL| NULL|  NULL|    NULL|     NULL|     NULL|      NULL|NULL|       NULL|    NULL|         78| NULL|  NULL|     NULL|     NULL|  NULL|      NULL|    NULL|   NULL|       NULL|     NULL| NULL| NULL|
+-----+---------+------+------+----------+--------+--------+----+---------+------+--------+--------+-----+-----+-----+------+--------+---------+---------+----------+----+-----------+--------+-----------+-----+------+---------+---------+------+----------+--------+-------+-----------+---------+-----+-----+

In [31]:
df_pyspark.sort("mark").show()

+---+-----------+-----+----+------+
| id|       name|class|mark|gender|
+---+-----------+-----+----+------+
| 19|      Tinny| Nine|  18|  male|
| 17|      Tumyu|  Six|  54|  male|
|  3|     Arnold|Three|  55|  male|
|  6|  Alex John| Four|  55|  male|
| 10|   Big John| Four|  55|female|
| 22|     Reggid|Seven|  55|female|
| 29|Tess Played|Seven|  55|  male|
|  4| Krish Star| Four|  60|female|
|  5|  John Mike| Four|  60|female|
| 20|     Jackly| Nine|  65|female|
| 21| Babby John| Four|  69|female|
| 34|   Gain Toe|Seven|  69|  male|
|  1|   John Deo| Four|  75|female|
| 18|      Honny| Five|  75|  male|
|  7|My John Rob|Fifth|  78|  male|
|  9|    Tes Qry|  Six|  78|  male|
| 24|  Tiddy Now|Seven|  78|  male|
| 23|      Herod|Eight|  79|  male|
| 26|     Crelea|Seven|  79|  male|
| 30|  Reppy Red|  Six|  79|female|
+---+-----------+-----+----+------+
only showing top 20 rows

In [32]:
df_pyspark.sort(df_pyspark["mark"].desc()).show()

+---+-----------+-----+----+------+
| id|       name|class|mark|gender|
+---+-----------+-----+----+------+
| 33|  Kenn Rein|  Six|  96|female|
| 12|      Recky|  Six|  94|female|
| 32|  Binn Rott|Seven|  90|female|
| 11|     Ronald|  Six|  89|female|
| 13|        Kty|Seven|  88|female|
| 14|       Bigy|Seven|  88|female|
| 15|   Tade Row| Four|  88|  male|
| 16|      Gimmy| Four|  88|  male|
| 25|   Giff Tow|Seven|  88|  male|
| 31|Marry Toeey| Four|  88|female|
| 35| Rows Noump|  Six|  88|female|
| 28|  Rojj Base|Seven|  86|female|
|  2|   Max Ruin|Three|  85|  male|
|  8|     Asruid| Five|  85|  male|
| 27|   Big Nose|Three|  81|female|
| 23|      Herod|Eight|  79|  male|
| 26|     Crelea|Seven|  79|  male|
| 30|  Reppy Red|  Six|  79|female|
|  7|My John Rob|Fifth|  78|  male|
|  9|    Tes Qry|  Six|  78|  male|
+---+-----------+-----+----+------+
only showing top 20 rows

In [33]:
df_pyspark.orderBy("mark").show()

+---+-----------+-----+----+------+
| id|       name|class|mark|gender|
+---+-----------+-----+----+------+
| 19|      Tinny| Nine|  18|  male|
| 17|      Tumyu|  Six|  54|  male|
|  3|     Arnold|Three|  55|  male|
|  6|  Alex John| Four|  55|  male|
| 10|   Big John| Four|  55|female|
| 22|     Reggid|Seven|  55|female|
| 29|Tess Played|Seven|  55|  male|
|  4| Krish Star| Four|  60|female|
|  5|  John Mike| Four|  60|female|
| 20|     Jackly| Nine|  65|female|
| 21| Babby John| Four|  69|female|
| 34|   Gain Toe|Seven|  69|  male|
|  1|   John Deo| Four|  75|female|
| 18|      Honny| Five|  75|  male|
|  7|My John Rob|Fifth|  78|  male|
|  9|    Tes Qry|  Six|  78|  male|
| 24|  Tiddy Now|Seven|  78|  male|
| 23|      Herod|Eight|  79|  male|
| 26|     Crelea|Seven|  79|  male|
| 30|  Reppy Red|  Six|  79|female|
+---+-----------+-----+----+------+
only showing top 20 rows