In [8]:
# import pandas as pd
# log_data = pd.read_csv("Marks_data.csv")
# print(log_data)
# type(log_data)

   Name  M1 Score  M2 Score
0  Alex        62        80
1  Brad        45        56
2  Joey        85        98

pandas.core.frame.DataFrame

In [9]:
#in order to work with pyspark we need to creare a spark session.
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice").getOrCreate()

spark

In [10]:
df = spark.read.csv("Marks_data.csv")
df

DataFrame[_c0: string, _c1: string, _c2: string]

In [11]:
df.show() #to show the entire file

+----+--------+--------+
| _c0|     _c1|     _c2|
+----+--------+--------+
|Name|M1 Score|M2 Score|
|Alex|      62|      80|
|Brad|      45|      56|
|Joey|      85|      98|
+----+--------+--------+

In [23]:
#renaming columns
df1 = spark.read.csv("Marks_data.csv",header = True,inferSchema = True)
df1.show()
type(df1)

+----+--------+--------+
|Name|M1 Score|M2 Score|
+----+--------+--------+
|Alex|      62|      80|
|Brad|      45|      56|
|Joey|      85|      98|
+----+--------+--------+

pyspark.sql.dataframe.DataFrame

In [24]:
df1.head(2) # head willl return the top records i.e 2 records as mentioned in the head().

[Row(Name='Alex', M1 Score=62, M2 Score=80),
 Row(Name='Brad', M1 Score=45, M2 Score=56)]

In [25]:
df1.printSchema() #tells you about the types of columns

root
 |-- Name: string (nullable = true)
 |-- M1 Score: integer (nullable = true)
 |-- M2 Score: integer (nullable = true)

In [26]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("practice").getOrCreate()

In [27]:
## viewing schema
df1.printSchema()

root
 |-- Name: string (nullable = true)
 |-- M1 Score: integer (nullable = true)
 |-- M2 Score: integer (nullable = true)

In [30]:
df1.columns

['Name', 'M1 Score', 'M2 Score']

In [32]:
df1.head(3)

[Row(Name='Alex', M1 Score=62, M2 Score=80),
 Row(Name='Brad', M1 Score=45, M2 Score=56),
 Row(Name='Joey', M1 Score=85, M2 Score=98)]