In [25]:
from pyspark.sql import SparkSession

In [26]:
spark = SparkSession.builder.appName("DataFrame").getOrCreate()

In [27]:
df = spark.read.text(r"C:\Users\pmboc\Downloads\day14.txt")

In [28]:
df.selectExpr("split(value, ' ') as Text_Data_In_Rows_Using_Text").show(4,False)

+----------------------------+
|Text_Data_In_Rows_Using_Text|
+----------------------------+
|[A, 1, Shubham]             |
|[B, 2, Anurag]              |
|[C, 3, Raman]               |
|[D, 4, Rakesh]              |
+----------------------------+

In [29]:
df = spark.read.csv(r"C:\Users\pmboc\Downloads\day14.txt")

In [30]:
df.selectExpr("split(_c0, ' ') as Text_Data_In_Rows_Using_CSV").show(4,False)

+---------------------------+
|Text_Data_In_Rows_Using_CSV|
+---------------------------+
|[A, 1, Shubham]            |
|[B, 2, Anurag]             |
|[C, 3, Raman]              |
|[D, 4, Rakesh]             |
+---------------------------+

In [31]:
df = spark.read.format("text").load(r"C:\Users\pmboc\Downloads\day14.txt")

In [32]:
df.selectExpr("split(value, ' ') as Text_Data_In_Rows_Using_format_load").show(4,False)

+-----------------------------------+
|Text_Data_In_Rows_Using_format_load|
+-----------------------------------+
|[A, 1, Shubham]                    |
|[B, 2, Anurag]                     |
|[C, 3, Raman]                      |
|[D, 4, Rakesh]                     |
+-----------------------------------+